  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>New Joy</h3>
            <p>
              Along highway <br>
              Hindi, Lamu<br>
              <strong>Phone:</strong> +254722535756<br>
              <strong>Email:</strong> newjoy@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">About</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'service' %}">Services & Amenities</a></li>
            </ul>
          </div>




        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; 2024 Copyright |<strong><span>New Joy Guest House</span></strong>| All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
